div.posts
    margin-top: 50px
    max-width: 1000px
    margin: 0 auto
    display: flex
    flex-direction: column
    gap: 20px
    & ul.posts
        display: grid
        grid-template-columns: 33% 33% 33%
        gap: 20px
        list-style: none
        margin: 0
        padding: 0
        width: calc( 100% - 25px )
        @media screen and (max-width: 1000px)
            grid-template-columns: 100%
            width: 100%
        & li
            & a
                display: block
                background: var(--secondary-nd)
                padding: 20px 0
                padding: 20px
                border-radius: 20px
                color: var(--font-st)
                text-decoration: none
                transition-duration: .2s
                &:hover
                    background: var(--tertiary)
                & h1
                    margin: 5px 0
                    margin-top: 0
                    font-size: 28px
                    font-weight: 500
                    display: flex
                    align-items: center
                    justify-content: space-between
                & p
                    margin: 5px 0
                    margin-bottom: 0
                    display: flex
                    align-items: center
                    gap: 5px
                    font-size: 18px
                    & img
                        border-radius: 50%

header.warning
    padding: 15px
    background: #f0c56972
    border-radius: 20px
    & h1.header
        display: flex
        align-items: center
        font-size: 20px
        font-weight: 500
        margin: 0
        gap: 3px
        margin-bottom: 5px
    & p.description
        font-size: 16px
        margin: 0
        margin-top: 5px

article.blog
    width: 100%
    max-width: 1000px
    height: 100%
    min-height: calc( 100vh - 68px )
    margin: 0 auto
    margin-top: 40px
    display: flex
    flex-direction: column
    gap: 20px
    & div.content
        margin-bottom: 30px
        & h1
            font-size: 36px
            font-weight: 500
            margin: 10px 0
            user-select: text
        & h2
            font-size: 26px
            font-weight: 500
            margin: 5px 0
            margin-top: 20px
            user-select: text
        & p
            font-size: 20px
            margin: 0
            margin: 10px 0
            user-select: text
        & a
            color: var(--accent-st)
            font-size: 20px
            text-decoration: none
            user-select: text
            &:hover
                text-decoration: underline
        & code
            font-family: monospace
            font-size: 20px
            user-select: text
            user-select: text
        & button
            display: flex
            align-items: center
            padding: 8px 12px
            border-radius: 50px
            font-size: 14px
            font-weight: 500
            color: var(--primary)
            background: var(--font-st)
            outline: 0
            border: 0
            cursor: pointer
            transition-duration: .2s
            margin-top: 5px
            gap: 5px
            @media screen and (max-width: 950px)
                font-size: 14px
                margin: 3px 0
            &:hover
                opacity: .8
            & svg
                rotate: 180deg
        & a
            font-size: 20px
            margin: 0
            margin-bottom: 10px
        & img
            border-radius: 20px
            width: 100%
            margin: 10px 0
        & div.flex
            display: flex
            align-items: center
            gap: 5px

div.comments
    width: 100%
    max-width: 1000px
    height: 100%
    margin: 0 auto
    margin-bottom: 50px
    display: flex
    flex-direction: column
    & h1
        font-size: 26px
        font-weight: 500
        margin: 10px 0
    & ul
        margin: 0
        padding: 0
        list-style: none
        & li
            margin: 15px 0
            display: flex
            justify-content: space-between
            background: var(--secondary-nd)
            padding: 10px 12px
            border-radius: 20px
            & div.container
                display: flex
                align-items: center
                gap: 8px
                & img
                    border-radius: 50%
                & span
                    font-size: 12px
                    opacity: .7
                & header
                    display: flex
                    flex-direction: column
                    gap: 1px
                    font-weight: 500
                    & h1
                        font-size: 18px
                        margin: 0
                        font-weight: 500
                        user-select: text
                    & p
                        font-size: 16px
                        margin: 0
                        font-weight: 400
                        user-select: text
            & aside
                display: flex
                align-items: center
                gap: 3px
                & svg
                    cursor: pointer
                    transition-duration: .1s
                    &:hover
                        opacity: .7
                & time
                    font-size: 14px
                    opacity: .7
    & form
        display: flex
        gap: 15px
        margin: 10px 0
        & img
            border-radius: 50%
        & div.content
            width: 100%
            margin-bottom: 0
            & textarea
                color: var(--font-st)
                border-radius: 20px
                padding: 12px 14px
                border: 0
                background: var(--secondary-nd)
                outline: 0
                font-size: 16px
                width: calc(100% - 24px)
                resize: none
                font-family: 'Inter', sans-serif
