// Main color scheme
$primary: #000000
$secondary: #131415
$border: #2e2b2b
$font: #ffffff
$font2: #d0c9c9be
$font3: #b3adadaf

// Hero color scheme
$textGlow: 0 0 50px rgba(114, 85, 129, 0.65)
$textBackground: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(233, 229, 227, 1) 42%, rgba(198, 191, 191, 0.9850140739889706) 89%)
$textSpan: linear-gradient(218deg, rgba(0, 93, 255, 1) 0%, rgba(179, 58, 241, 1) 42%, rgba(255, 54, 134, 0.9850140739889706) 89%)
$buttonGlow: 0 0 25px 0 rgba(114, 85, 129, 0.35)
$buttonBackground: linear-gradient(180deg, rgb(240, 236, 236) 0%, rgba(233, 229, 227, 1) 42%, rgba(224, 218, 218, 0.985) 89%)

// Main variables
$blur: blur(50%)
$shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15)
$radius: 6px
