/* 
 * Copyright 2019-2023 (c) Nove Group
 * GitHub: https://github.com/nove-org/
 * Inter font is property of their respective owners.
 */

@use 'brand' as *

@import url('https://f.nove.team/fonts/inter/conf.css')

*
    user-select: none
    font-family: 'Inter'
    transition-duration: .15s
    scrollbar-width: thin
    margin: 0

.disabled
    pointer-events: none
    cursor: default
    opacity: .5

p.error
    display: block
    position: fixed
    bottom: 30px
    right: 30px
    color: $colored
    background: $secondary
    border: 1px solid $border
    border-radius: $radius
    padding: 10px
    width: fit-content
    z-index: 100

div.background
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100vh
    background: #00000042
    animation: backgronud 300ms ease-in-out
    @keyframes backgronud
        0%
            background: #00000000
        100%
            background: #00000042

img
    pointer-events: none

a
    text-decoration: none
    color: $font

html
    height: 100%
    transition-duration: 0s

body
    margin: 0
    background: $primary
    color: $font
    width: 100%
    min-height: 100%
    transition-duration: 0s
    & main
        padding: 0 20px
        padding-bottom: 30px
        width: calc( 100% - 20px * 2 )
        max-width: 1300px
        margin: 0 auto
        min-height: calc( 100vh - 4rem )

span.badge
    padding: 2px 4px
    border-radius: 10px
    font-size: 14px
    color: $font
    font-weight: 600
    text-transform: uppercase
    background: $colored2

::-webkit-scrollbar
    width: 2px

.is-pinned
    padding-top: 1px !important
    border-bottom: 1px solid $border !important

.is-pinned-image
    margin-top: -1px !important
