/* 
 * Copyright 2019-2023 (c) Nove Group
 * GitHub: https://github.com/nove-org/
 * Inter font is property of their respective owners.
 */

@use '../brand' as *

section.dashboard
    padding: 50px 0
    padding-bottom: 0
    min-height: calc( 100vh - 7.2rem )
    height: max-content
    display: flex
    @media screen and (max-width: 1000px)
        flex-direction: column
    & aside
        max-width: 350px
        width: 100%
        margin-right: 50px
        @media screen and (max-width: 1000px)
            max-width: 100%
        & header
            display: flex
            align-items: center
            padding: 12px
            border: 1px solid $border
            border-radius: $radius
            & img
                margin-right: 10px
                border-radius: 50%
            & h1
                font-size: 24px
        & ul
            padding: 0
            margin: 0
            list-style: none
            @media screen and (max-width: 1000px)
                margin: 20px 0
            & li
                & a
                    display: flex
                    padding: 12px
                    cursor: pointer
                    border-radius: $radius
                    margin-top: 10px
                    border: 1px solid $secondary
                    background: $secondary
                    align-items: center
                    & svg
                        margin-right: 5px
                        display: block
                        color: $font
                    &.active, &:hover
                        background: $secondary
                        border: 1px solid $border
    & div.content
        width: 100%
        & h1.title
            font-size: 48px
            background: $textBackground
            background-clip: text
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            font-weight: 700
            margin-bottom: 5px
        & p.description
            font-size: 22px
            font-weight: 400
            margin-bottom: 10px
            color: $font2
        & dialog.popup
            display: block
            position: absolute
            z-index: 99
            width: calc( 100% - 20px * 2 )
            min-height: 100vh
            height: 100%
            display: flex
            flex-direction: columns
            align-items: center
            justify-content: center
            top: 0
            left: 0
            border: 0
            outline: 0
            padding: 0 20px
            margin: 0
            background: #00000000
            opacity: 1
            animation: fadein 250ms ease-in-out
            @keyframes fadein
                0%
                    opacity: 0
                100%
                    opacity: 1
            & div.background
                width: 100%
                min-height: 100vh
                height: 100%
                background: #00000075
                position: absolute
                top: 0
                left: 0
                z-index: 99
                animation: opacityin 600ms ease-in-out
                @keyframes opacityin
                    0%
                        opacity: 0
                    50%
                        opacity: 1
                    80%
                        opacity: 1
            & form
                max-width: 450px
                background: $secondary
                border: 1px solid $border
                border-radius: $radius
                box-shadow: 0 0 150px 5px #000000c0
                display: flex
                flex-direction: column
                align-items: center
                position: sticky
                top: 100px
                z-index: 100
                animation: bouncein 250ms ease-in-out
                @keyframes bouncein
                    0%
                        transform: scale(0.2)
                        opacity: 0
                    40%
                        opacity: 1
                    60%
                        transform: scale(0.96)
                    100%
                        transform: scale(1)
                & h1
                    padding: 15px
                    border-bottom: 1px solid $border
                    display: flex
                    align-items: center
                    margin-bottom: 15px
                    width: calc( 100% - 15px * 2 )
                    font-size: 20px
                    justify-content: space-between
                    & svg
                        color: $font2
                & p
                    padding: 0 15px
                    font-size: 16px
                    color: $font2
                    margin-bottom: 15px
                    line-height: 1.5
                & input
                    padding: 10px
                    width: calc( 100% - 25px * 2 )
                    margin: 0 auto
                    border: 1px solid $border
                    background: $tertiary
                    color: $font2
                    font-weight: 400
                    font-size: 14px
                    border-radius: $radius
                    &:focus
                        outline: 1px solid $colored2
                & div.footer
                    display: flex
                    flex-direction: row
                    align-items: center
                    width: calc( 100% - 15px * 2 )
                    margin: 20px auto
                    justify-content: flex-end
                    & button
                        cursor: pointer
                        border-radius: $radius
                        padding: 10px
                        &[type=reset]
                            margin-right: 10px
                            background: $border
                            border: 1px solid $border2
                        &[type=submit]
                            background: $colored2b
                            border: 1px solid $colored2
        & label.card
            padding: 15px
            border-radius: $radius
            background: $secondary
            border: 1px solid $border
            display: flex
            align-items: center
            font-size: 16px
            font-weight: 500
            line-height: 0
            margin-bottom: 10px
            &:last-child
                margin-bottom: 30px
            & input[type=radio]
                -webkit-appearance: none
                appearance: none
                margin: 0
                color: $font
                width: 15px
                height: 15px
                border: 2px solid $border
                background: $tertiary
                border-radius: 50%
                margin-right: 12.5px
                margin-top: -1px
                &:checked
                    background: $border
                    border: 2px solid $border !important
                &:hover
                    border: 2px solid $border2
            & header
                display: flex
                align-items: center
                justify-content: space-between
                width: 100%
        & div.card
            padding: 20px
            border-radius: $radius
            background: $secondary
            border: 1px solid $border
            display: flex
            align-items: center
            @media screen and (max-width: 450px)
                flex-direction: column
                align-items: flex-start
            & img
                border-radius: 50%
                @media screen and (max-width: 620px)
                    max-width: 50px
                    width: auto
                    height: auto
            & div.content
                margin-left: 15px
                @media screen and (max-width: 450px)
                    margin-left: 0
                & div.username
                    display: flex
                    align-items: center
                    @media screen and (max-width: 620px)
                        flex-direction: column
                        align-items: flex-start
                    & h1
                        font-size: 32px
                        @media screen and (max-width: 620px)
                            font-size: 28px
                    & button
                        margin-left: 10px
                        background: 0
                        border: 0
                        outline: 0
                        padding: 0
                        width: fit-content
                        height: fit-content
                        color: $colored2
                        cursor: pointer
                        font-size: 16px
                        @media screen and (max-width: 620px)
                            margin-left: 0
                        &:hover
                            text-decoration: underline
                & div.email
                    color: $font2
                    font-size: 16px
        & div.shortcuts
            display: flex
            flex-direction: row
            align-items: center
            justify-content: space-between
            margin-top: 20px
            @media screen and (max-width: 1234px)
                flex-direction: column
            & div.card
                width: 100%
                min-height: 180px
                height: 100%
                flex-direction: column
                align-items: flex-start
                padding: 15px
                cursor: pointer
                @media screen and (max-width: 1234px)
                    width: calc( 100% - 15px * 2 )
                    min-height: fit-content
                    margin-bottom: 10px
                &:hover
                    background: $border
                    border: 1px solid $border2
                &:not(:last-child)
                    margin-right: 20px
                    @media screen and (max-width: 1234px)
                        margin-right: 0
                & header
                    display: flex
                    align-items: flex-start
                    margin-bottom: 10px
                    max-height: 165px
                    min-height: 145px
                    @media screen and (max-width: 1234px)
                        min-height: fit-content
                    & svg
                        margin-right: 10px
                        min-width: 32px
                        min-height: 32px
                    & h1
                        font-size: 24px
                        font-weight: 600
                    & p
                        font-size: 20px
                        font-weight: 400
                        color: $font2
                & div.selected
                    width: 100%
                    height: 100%
                    display: flex
                    flex-direction: row
                    align-items: center
                    justify-content: flex-end
                    font-size: 20px
                    color: $font3
        & div.connections
            margin: 20px 0
            margin-bottom: 40px
            & div.card
                justify-content: space-between
                margin-top: 8px
                padding: 10px 15px
                margin-bottom: 5px
                & div.info
                    display: flex
                    align-items: center
                    & img
                        margin-right: 10px
                    & header
                        & h1
                            font-size: 22px
                        & span
                            color: $font2
                            font-size: 14px
                & button
                    border: 1px solid $border2
                    background: $border
                    color: $font
                    border-radius: $radius
                    padding: 8px
                    outline: 0
                    cursor: pointer
                    @media screen and (max-width: 450px)
                        margin-top: 10px
                    &:hover
                        background: $border2
