:root
    --primary: rgb(153, 16, 16)
    --on-primary: rgb(255, 255, 255)
    --primary-container: rgb(255, 198, 198)
    --on-primary-container: rgb(32, 0, 0)
    --secondary: rgb(179, 53, 53)
    --on-secondary: rgb(255, 255, 255)
    --secondary-container: rgb(255, 182, 182)
    --on-secondary-container: rgb(115, 0, 0)
    --tertiary: rgb(56, 102, 99)
    --on-tertiary: rgb(255, 255, 255)
    --tertiary-container: rgb(187, 236, 232)
    --on-tertiary-container: rgb(0 ,32, 30)
    --error: rgb(186, 26, 26)
    --on-error: rgb(255, 255, 255)
    --error-container: rgb(255, 218, 214)
    --on-error-container: rgb(65, 0, 2)
    --background: rgb(255, 228, 228)
    --on-background: rgb(26, 28, 22)
    --surface: rgb(249, 250, 239)
    --on-surface: rgb(26, 28, 22)
    --surface-variant: rgb(225, 228, 213)
    --on-surface-variant: rgb(68, 72, 61)
    --outline: rgb(117, 121, 108)
    --outline-variant: rgb(197, 200, 186)
    // --shadow: rgb(0 0 0)
    // --scrim: rgb(0 0 0)
    // --inverse-surface: rgb(47 49 42)
    // --inverse-on-surface: rgb(240 242 230)
    // --inverse-primary: rgb(177 209 138)
    // --primary-fixed: rgb(205 237 164)
    // --on-primary-fixed: rgb(16 32 0)
    // --primary-fixed-dim: rgb(177 209 138)
    // --on-primary-fixed-variant: rgb(53 78 22)
    // --secondary-fixed: rgb(219 231 200)
    // --on-secondary-fixed: rgb(21 30 11)
    // --secondary-fixed-dim: rgb(191 203 173)
    // --on-secondary-fixed-variant: rgb(64 74 51)
    // --tertiary-fixed: rgb(187 236 232)
    // --on-tertiary-fixed: rgb(0 32 30)
    // --tertiary-fixed-dim: rgb(160 208 203)
    // --on-tertiary-fixed-variant: rgb(31 78 75)
    // --surface-dim: rgb(218 219 208)
    // --surface-bright: rgb(249 250 239)
    // --surface-container-lowest: rgb(255 255 255)
    // --surface-container-low: rgb(243 244 233)
    // --surface-container: rgb(238 239 227)
    // --surface-container-high: rgb(232 233 222)
    // --surface-container-highest: rgb(226 227 216)

// @media (prefers-color-scheme: dark)
//     :root
