
figure.background
    position: absolute
    top: 0
    left: 0
    margin: 0
    width: 100%
    height: 100%
    z-index: -1
    &.detached
        position: relative
        height: calc( 100vh - 70px )
        min-height: 830px
    & img.eagle
        position: absolute
        top: 200px
        right: 300px
        max-width: 500px
        height: auto
        filter: saturate(70%)
        opacity: .9
        transform: scaleX(-1)
        transition: top .2s ease, right .2s ease, max-width .2s ease
        @media screen and (max-width: 1750px)
            max-width: 400px
            right: 250px
        @media screen and (max-width: 1600px)
            right: 150px
        @media screen and (max-width: 1460px)
            top: 100px
        @media screen and (max-width: 950px)
            right: 50px
    & img.mountains
        width: 100%
        height: 100%
        object-fit: cover
        object-position: 100% 50%
        transition: object-position .5s ease
        @media screen and (max-width: 1460px)
            object-position: 80% 50%

section.hero
    width: 100%
    height: calc( 100vh - 70px )
    min-height: 830px
    display: flex
    align-items: center
    position: relative
    box-sizing: border-box
    padding: 0 6%
    & div.attribution
        position: absolute
        bottom: 15px
        right: 15px
        box-sizing: border-box
        background: var(--popup-container-alternate)
        color: var(--on-primary)
        backdrop-filter: blur(20px)
        border-radius: 10px
        padding: 5px 8px
        z-index: 100
        display: flex
        align-items: center
        gap: 5px
        @media screen and (max-width: 950px)
            width: max-content
            right: auto
            left: 50%
            transform: translateX(-50%)
        @media screen and (max-width: 500px)
            font-size: 12px
            & svg
                max-width: 12px
        @media screen and (max-width: 400px)
            display: inline
            & svg
                display: none
        & p
            font-size: 14px
            font-weight: 500
            margin: 0
        & a
            color: var(--primary-container)
            text-decoration: none
    & div.text
        max-width: 950px
        background: #00000000
        padding: 0px
        backdrop-filter: blur(0px)
        border-radius: 0px
        transition: background .2s ease, padding .2s ease, border-radius 1s ease
        @media screen and (max-width: 950px)
            background: #f9f9f94a
            padding: 30px
            backdrop-filter: blur(20px)
            border-radius: 25px
            @media screen and (max-width: 600px)
                padding: 20px
        & h1
            font-size: 64px
            font-weight: 700
            margin: 15px 0
            margin-top: 0
            @media screen and (max-width: 600px)
                font-size: 48px
            & span
                color: var(--primary)
                & word
                    position: relative
                    &::after
                        content: ""
                        display: inline-block
                        position: absolute
                        width: 100%
                        height: 100%
                        z-index: -1
                        top: 0
                        left: 0
                        background: linear-gradient(to top, var(--outline-variant) 50%, transparent 50%)
                        animation: highlight 1s linear
                        border-radius: 5px
                    &:last-child
                        &::after
                            animation: highlightNd 1.5s linear
                    @keyframes highlight
                        0%
                            width: 0

                        100%
                            width: 100%
                    @keyframes highlightNd
                        0%
                            width: 0
                        50%
                            width: 0
                        100%
                            width: 100%
        & p
            font-size: 22px
            margin: 10px 0
            @media screen and (max-width: 600px)
                font-size: 20px
        & div.buttons
            display: flex
            align-items: center
            gap: 15px
            margin-top: 30px
            @media screen and (max-width: 400px)
                flex-direction: column
                align-items: flex-start
                gap: 10px
                & a
                    width: 100%
                    justify-content: center
            & .highlight
                background: var(--primary)
                color: var(--on-primary)
                &:hover
                    background: var(--secondary)
                    color: var(--on-secondary)
    & div.attention
        position: absolute
        bottom: 40px
        transform: translateY(-100%)
        display: flex
        flex-direction: column
        gap: 5px
        font-size: 20px
        font-weight: 500
        opacity: .8
        @media screen and (max-width: 630px)
            display: none
        & svg
            animation: moveUpDown 1.5s ease infinite
            bottom: 5px
            background: var(--background)
            color: var(--on-background)
            backdrop-filter: blur(20px)
            padding: 10px
            border-radius: 10px
            @keyframes moveUpDown
                0%
                    transform: translateY(0)
                40%
                    transform: translateY(-10px)
                60%
                    transform: translateY(-10px)
                100%
                    transform: translateY(0)

section.applications
    width: 100%
    display: flex
    justify-content: center
    position: relative
    box-sizing: border-box
    padding: 0 6%
    margin-top: -400px
    & div.text
        display: flex
        flex-direction: column
        text-align: center
        & h1
            font-size: 36px
            font-weight: 600
            margin: 0
        & p
            font-size: 20px
            margin: 5px 0
        & ul.applications, ul.repositories
            display: flex
            align-items: center
            justify-content: center
            flex-wrap: wrap
            gap: 15px
            list-style: none
            padding: 0
            margin: 25px 0
            & a.blue, a.green, div.more
                position: relative
                width: 90px
                height: 90px
                border-radius: 20px
                display: flex
                align-items: center
                justify-content: center
                flex-direction: column
                gap: 5px
                font-size: 16px
                font-weight: 500
                text-decoration: none
            & div.more
                width: 160px
                background: var(--primary-container)
                color: var(--on-primary-container)
                padding: 0 15px
            & a.blue
                background: var(--blueish)
                color: var(--on-blueish)
            & a.green
                background: var(--greenish)
                color: var(--on-greenish)
        & ul.repositories
            margin: 15px auto
            max-width: 700px
            @media screen and (max-width: 500px)
                gap: 10px
            & a
                display: flex
                align-items: center
                gap: 5px
                border: 1px solid var(--primary)
                border-radius: 20px
                padding: 10px 12px
                text-decoration: none
                color: var(--on-background)
                @media screen and (max-width: 500px)
                    padding: 8px 10px
                    border-radius: 18px
                    & svg
                        max-width: 16px
                & h1
                    font-size: 24px
                    font-weight: 500
                    margin: 0
                    display: flex
                    align-items: flex-start
                    flex-direction: column
                    gap: 2px
                    @media screen and (max-width: 500px)
                        font-size: 20px
                    & span
                        font-size: 14px
                        font-weight: 400

section.community
    display: flex
    gap: 100px
    align-items: center
    box-sizing: border-box
    padding: 0 6%
    padding-left: 0
    & div.text
        display: flex
        flex-direction: column
        gap: 10px
        & svg.header
            padding: 12px
            background: var(--primary-container)
            color: var(--primary)
            border-radius: 15px
        & h1
            font-size: 36px
            font-weight: 600
            margin: 0
        & p
            font-size: 20px
            margin: 0
            & a
                text-decoration: none
                color: var(--primary)
                &:hover
                    text-decoration: underline
        & div.contributors
            margin: 30px 0
            & h2
                margin: 0 0 10px 0
                font-size: 24px
                font-weight: 500
                display: flex
                gap: 5px
                align-items: center
            & ul
                list-style: none
                padding: 0
                margin: 0
                display: grid
                gap: 10px
                grid-template-columns: repeat(7, 1fr)
                width: fit-content
                & li
                    width: 48px
                    height: 48px
                    & img
                        border-radius: 50%
        & div.buttons
            display: flex
            gap: 10px
            align-items: center
        & p.footnote
            margin: 0
            font-size: 12px
            font-weight: 400
            opacity: .7

section.encourage
    box-sizing: border-box
    padding: 0 6%
    margin-top: 50px
    position: relative
    & img
        width: 100%
        height: auto
        min-height: 600px
        object-fit: cover
        border-radius: 35px
    & div.overlay
        position: absolute
        top: 0
        left: 0
        margin: 0 6%
        padding: 0 6%
        box-sizing: border-box
        width: 88%
        max-width: 900px
        height: calc( 100% - 5px )
        display: flex
        gap: 10px
        flex-direction: column
        justify-content: center
        & svg.header
            color: var(--primary)
        & h1
            font-size: 48px
            font-weight: 600
            margin: 0
        & p
            font-size: 20px
            margin: 0
        & div.buttons
            display: flex
            align-items: center
            gap: 10px
            margin-top: 10px
            & a
                background: var(--background)

section.welcome
    width: 100%
    min-height: calc( 100vh - 70px )
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    text-align: center
    gap: 10px
    & h1
        font-size: 36px
        font-weight: 500
        margin: 0
    & p
        font-size: 20px
        margin: 0
    & div.buttons
        display: flex
        align-items: center
        gap: 15px
        margin-top: 10px
        @media screen and (max-width: 300px)
            flex-direction: column
            align-items: flex-start
            gap: 10px
        & .highlight
            background: var(--primary)
            color: var(--on-primary)
            &:hover
                background: var(--secondary)
                color: var(--on-secondary)
