@font-face {
    font-family: "Whitney";
    src: url("https://nove.team/cdn/fonts/whitney/light.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Whitney";
    src: url("https://nove.team/cdn/fonts/whitney/book.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Whitney";
    src: url("https://nove.team/cdn/fonts/whitney/medium.otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Whitney";
    src: url("https://nove.team/cdn/fonts/whitney/semibold.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Whitney";
    src: url("https://nove.team/cdn/fonts/whitney/bold.otf");
    font-weight: 700;
    font-style: normal;
}